body {
	background-color: lightblue;
}

#header {
	background-color: #014585;
}
.top-header {
    display: flex;
    align-items: center/* vertical alignment */;
}

#logo {
	padding :  10px 10px 10px 0px;
	width:110px;
}
.brand {
	color : #fbbc05;
	font-weight: bold;
	font-size: 20px;
}

.top-left > li {
	padding-left: 20px;
	color: white;
	font-size: 14px;
}

.top-right {
	padding: 10px;
	color: white;
	font-size: 12px;
    align-items: center/* vertical alignment */;
}

.fa {
  padding: 5px;
  font-size: 13px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.navbar {
	background-color: #0f6fc7;
	border-radius: 0;
}

#nav {
	display: flex!important;
}